.logo {
  @extend %logotype;

  &__text {
    color: var(--accent-color);
  }
}

.header__logo {
  // padding-top: 24px;
  // padding-bottom: 25px;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  padding: 16px 0;
}

.footer__logo {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: var(--third-color);
}
